.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo img{
  width: 150px;
}
.header-mid{
  font-size: 25px;
}
.header-links{
  display: flex;
  width: 33%px;
  justify-content: space-around;
  margin-right: 20px;
}
.header-links a{
  font-size : 25px;
  margin-right: 10px;
}
.d-none{
  display: none;
}
.d-show{
  position: fixed;
  left: 650px;
  top: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
}
.ad-input{
  display: flex;
  flex-direction: column;
}
.admin-button button{
  background-color: black;
  color: white;
  border: none;
  padding: 3px 7px 3px 7px;
  border-radius: 5px;
  cursor: pointer;
}