.user-inner{
  display: flex;
  justify-content: center;
}
.table-outer{
  border: 3px solid black;
  width: 90%;
}
td , th{
  margin: 0px 0px 0px 0px;
  border: 3px solid black;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
th{
  font-size: 20px;
}
td{
  font-size: 17px;
}
.search-bar{
  display: flex;
  align-items: center;
  margin-left: 73px;
  margin-bottom: 15px;
}
.se-opt{
  height: 25px;
  margin-right: 10px;
}
.search-input input{
  height: 19px;
}
.search-input button{
  margin-left: 20px;
  padding: 5px 15px 5px 15px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.td-input{
  display: flex;
  justify-content: center;
}
.td-input input{
  text-align: center;
}
.td-buttons button{
  border: none;
  background-color: black;
  color: white;
  padding: 4px 10px 4px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.add-row-ele{
  display: flex;
  margin-bottom: 15px;
}
.add-row-head , .add-row-ele {
  margin-left: 70px;
}
.ar-in{
  margin-right: 20px;
}
.ar-in input{
  margin-left: 5px;
}
.ar-in button{
  background-color: black;
  color: white;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  cursor: pointer;
}
.search-head{
  margin-left: 70px;
}